---
layout: layout.njk
title: main
tags: top
eleventyNavigation:
  key: /
  order: 1
---

<h1>{{ title }}</h1>
{% for post in collections.post -%}
  <div>
    <h2>{{post.data.title}}</h2>
    <p>excerpt:
      {{ post.data.page.excerpt }}</p>
    <p>tags:
      {% for tag in post.data.tags -%}|<a href="/tags/{{tag}}">{{tag}}</a>{% endfor -%}|</p>
    <p>date added:
      {{ post.data.date | date }}
      <a href="{{post.url}}">go</a>
    </p>
  </div>
{% endfor -%}